@media (min-width: 344px) {
  body {
    margin: 0 10px;
    background-color: #ffffff;
  }
  .navText {
    font-size: 16px;
  }
  .logo img {
    width: 70px;
    height: 40px;
  }
  .menu-toggle {
    width: 50px;
    height: 33px;
    font-size: 28px;
  }

  .navbar {
    margin: 16px 0;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  .navTopLinks {
    top: 0;
    width: 170px;
    height: 55vh;
  }

  /* Hero Section */
  .heroSection {
    height: 65vh;
    width: 100%;
  }

  .herobg {
    height: 50vh;
    width: 100%;
  }
  .heroText {
    padding: 60px 20px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .heroText h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  .heroText p {
    font-size: 18px;
    line-height: 1.3;
  }

  .heroBtn {
    padding: 10px;
  }

  .heroOptions {
    font-size: 12px;
    padding: 8px;
    bottom: 0;
  }

  /* About Me Section */
  .aboutMeImg img {
    width: 100%;
    height: 40vh;
    display: block;
  }

  .aboutMeText {
    padding: 40px;
    width: 100%;
    height: 40%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    position: relative;
    left: 0;
    bottom: 0;
    transform: none;
  }

  .aboutMeText h4 {
    font-size: 20px;
    width: 100%;
  }

  .aboutMeText p {
    font-size: 14px;
  }

  .btn {
    width: 60%;
  }
  .learnMoreBtn {
    width: 100%;
  }

  /* Services Section */
  .services-Container {
    grid-template-columns: repeat(1, 1fr);
  }

  .services-one {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 20px 30px;
    width: 100%;
  }

  .designs {
    gap: 20px;
  }

  .designs p {
    font-size: 14px;
    width: 100%;
  }

  .services-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .designs span {
    margin: 10px 0;
  }

  /* Projects Section */

  .projects-section {
    margin: 180px 0;
  }

  .projects-section h2 {
    font-size: 32px;
  }
  .projectsContainer {
    flex-direction: column;
  }

  .projects {
    width: 100%;
    height: 650px;
    border: 2px solid #511818;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
  }

  .projectImg img {
    width: 100%;
    height: 450px;
    border: 1px solid #8d7070;
  }

  .projectImg p {
    font-size: 16px;
  }

  .projects a {
    width: 35%;
    height: 35px;
    text-align: center;
  }

  /* Testimonial section */
  .clients {
    flex-direction: column;
  }

  .clientsText {
    align-items: center;
  }

  /* Contact Section */
  .contactContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  /* CTA section */
  .formContainer {
    width: 70%;
  }
  .whatsappDetail {
    width: 80%;
  }

  .formContainer input {
    padding: 8px 0;
  }
  .formContainer textarea {
    font-size: 18px;
  }

  /* Footer section */
  .fqaSection {
    flex-direction: column;
    padding: 5px;
  }

  .FAQ h3 {
    font-size: 28px;
  }

  .fqa p {
    font-size: 16px;
  }

  .fa-circle-plus {
    font-size: 18px;
  }

  .FAQ {
    margin-bottom: 40px;
  }
  .footerHeaderText {
    font-size: 18px;
  }

  .footerNavLinks {
    grid-template-columns: repeat(1, 1fr);
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    gap: 36px;
  }

  .navText {
    font-size: 28px;
  }

  .logo img {
    width: 150px;
    height: 90px;
  }

  .menu-toggle {
    font-size: 32px;
  }

  .navTopLinks {
    top: 0;
    width: 200px;
    height: 52vh;
  }

  .links {
    font-size: 24px;
  }

  /* Hero Section */
  .heroText h1 {
    font-size: 54px;
  }

  .heroText p {
    font-size: 24px;
  }

  .heroBtn {
    padding: 20px;
    font-size: 20px;
  }
  .heroOptions {
    font-size: 16px;
  }

  /* Services Section */

  .designs h3 {
    font-size: 36px;
  }

  .designs p {
    font-size: 26px;
  }

  .designs span {
    font-size: 32px;
  }

  .btn {
    width: 60%;
    margin: 20px auto;
    font-size: 24px;
  }

  /* About me Section */

  .aboutMeImg img {
    width: 100%;
    height: 70vh;
    display: block;
  }

  .aboutMeText h4 {
    font-size: 32px;
  }

  .aboutMeText p {
    font-size: 24px;
  }

  /* PROJECTS SECTION */

  .projects {
    width: 65%;
    height: 720px;
  }

  .projectImg p {
    font-size: 22px;
  }

  .projects a {
    color: #a10000;
    display: block;
    margin: 32px auto;
    width: 40%;
    height: auto;
    padding: 14px;
    text-align: center;
  }

  .contactBtn {
    margin-top: 40px;
    width: 30%;
  }

  /* Appointment section */
  .appointmenctSection h3 {
    font-size: 44px;
  }

  .icon {
    font-size: 44px;
    color: #fcfafa;
    margin-bottom: 40px;
  }

  .appointmenctSection p {
    font-size: 26px;
  }

  .apptBtn {
    width: 25%;
    margin: 40px 0;
    font-size: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  /* Testimonial section */
  .fa-quote-left {
    font-size: 44px;
  }

  .testimonial h3 {
    margin: 50px 0;
    font-size: 44px;
  }

  .clientImg {
    border: 10px solid #511818;
    width: 230px;
    border-radius: 50%;
  }

  .clientImg img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .clientsText {
    font-size: 28px;
  }

  .clientsText h4 {
    font-size: 32px;
  }

  .pagins {
    width: 24px;
    height: 24px;
    border: 4px solid #511818;
  }

  /* Contact section */
  .fa-solid {
    font-size: 44px;
  }

  .contacts {
    font-size: 32px;
  }

  /* CTA Section */
  .whatsappDetail a {
    font-size: 24px;
  }

  .ctaContainer span {
    font-size: 20px;
  }

  .formContainer input {
    padding: 24px 0;
  }

  .formContainer input::placeholder,
  .formContainer textarea::placeholder {
    padding: 0 18px;
    font-size: 24px;
    color: #ece8e8;
  }

  .formContainer textarea {
    padding: 70px 0;
  }
  /* Footer FQA section */
  .fqa p {
    font-size: 32px;
  }

  .footerHeaderText h3 {
    font-size: 44px;
  }

  .footerHeaderText p {
    font-size: 26px;
  }
  .footerNavLinks {
    font-size: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
