* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 40px;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
}

.logo img {
  width: 150px;
  height: 90px;
}

.navText {
  font-size: 24px;
}

.navTopLinks {
  background-color: #8b5959;
  padding: 24px;
  position: fixed;
  right: 0;
  top: 3%;
  width: 220px;
  height: 60vh;
  z-index: 50;
  transition: transform 0.4s ease;
  transform: translateX(100%);
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 20px;
  list-style: none;
  font-size: 16px;
  border-radius: 0 0 10px 10px;
  /* animation: slideInFromRight 1s forwards; */
}

.navTopLinks.active {
  transform: translateX(0);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.links a {
  text-decoration: none;
  color: #f9f9f9;
  transition: transform 0.3s ease-in-out;
}

.links a:hover {
  transform: scaleX(1.2);
}

.menu-toggle {
  width: 40px;
  height: 30px;
  font-size: 26px;
  background: none;
  color: #2e2b2b;
  border: none;
  cursor: pointer;
}

#close {
  position: fixed;
  top: 0;
  right: 0;

  font-size: 44px;
  cursor: pointer;
  color: #f9f9f9;
}

/* HERO SECTION */
.heroSection {
  background-color: #eee8e8;
  width: 95vw;
  height: 112vh;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.herobg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/HeroBg.jpg") center/cover no-repeat;

  width: 95vw;
  height: 90vh;
}

.heroText {
  padding: 80px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.heroText h1 {
  font-size: 60px;
}

.heroText p {
  font-size: 20px;
}

.heroBtn {
  padding: 16px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.25s ease;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.heroBtn:hover {
  background-color: #8b5959;
  color: #fff;
  transform: scale(1.05);
}

.heroOptions {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.heroOptions p {
  border: 2px solid #8d7070;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 40px 0;
}

.heroOptions p a {
  text-decoration: none;
  color: #511818;
}

.heroOptions p:hover {
  background-color: #a88c8c;
  color: #fff;
  transform: scale(1.05);
}

.heroOptions p:hover a {
  color: #fff;
}

/* SERVICES SECTION */
.services {
  margin: 150px 0;
}

.services-Container {
  display: flex;
  gap: 30px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.services h2 {
  text-align: center;
  margin: 80px 0;
  font-size: 32px;
}

.services-one {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  border: 1px solid #d7caca;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 60px;
}

.designs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.designs h3 {
  font-size: 24px;
}
.designs p {
  margin: 0;
  line-height: 1.4;
  align-self: center;
}

.designs span {
  font-size: 20px;
}

.services-one img {
  width: 60%;
  height: 350px;
  object-fit: cover;
}

.btn {
  padding: 8px 14px;
  width: 45%;
  background: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
  border: 1px solid #511818;
  border-radius: 2px;
  text-decoration: none;
}

.btn:hover {
  background-color: #a88c8c;
  color: #fff;
}

/* ABOUT ME SECTION */
.about-me {
  margin: 100px 0;
}

.about-me h2 {
  text-align: center;
  margin: 80px 0;
  font-size: 32px;
}

.aboutMe {
  width: 80%;
  margin: 40px auto;
}

.aboutMeImg img {
  width: 60%;
  height: 95vh;
  display: block;
}

.aboutMeText {
  background-color: #f9f9f9;
  padding: 40px;
  width: 60%;
  display: grid;
  gap: 30px;

  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
}

.aboutMeText h4 {
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  width: 50%;
}

.aboutMeText p {
  line-height: 1.5;
  font-size: 18px;
}

/* PROJECTS SECTION */
.projects-section {
  margin: 180px;
}

.projects-section h2 {
  margin: 80px 0;
  text-align: center;
  font-size: 24px;
}

.projectsContainer {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
}

.projects {
  width: 50%;
  height: 650px;
  border: 2px solid #511818;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
}

.projectImg img {
  width: 100%;
  height: 500px;
  border: 1px solid #8d7070;
}

.projectImg p {
  margin: 12px auto;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #555;
  width: 80%;
}

.projects a {
  color: #a10000;
  display: block;
  margin: 28px auto;
  width: 20%;
  text-decoration: none;
}

.contactBtn {
  margin: 80px auto;
  width: 20%;
  display: block;
}

/* APPOINTMENT SECTION */
.appointmenctSection {
  text-align: center;
  padding: 50px 0;
  background-color: #af8f8f;
  margin: 150px 0;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 40px;
  color: #fcfafa;
  margin-bottom: 40px;
}

.appointmenctSection h3 {
  font-size: 40px;
}

.appointmenctSection p {
  font-size: 20px;
}

.appointmenctSection h3,
.appointmenctSection p {
  margin: 30px 0;
  color: #fcfcfc;
}

.apptBtn {
  width: 10%;
  margin: 40px 0;
  font-size: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Testimonial section */
.testimonial {
  text-align: center;
  margin: 150px 0;
}
.fa-quote-left {
  font-size: 40px;
  color: #e6d4d4;
}

.testimonial h3 {
  margin: 44px 0;
  font-size: 36px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.clientImg {
  border: 10px solid #511818;
  width: 180px;
  border-radius: 50%;
}

.clientImg img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.clientsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
}

.clientsText h4 {
  margin-top: 20px;
  font-size: 26px;
}

.paginContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 32px 0;
}

.pagins {
  border: 2px solid #511818;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.pagins.active {
  background-color: #5c5959;
  border: 3px solid #511818;
}

/* Contact section */
.contactSection {
  text-align: center;
  margin: 150px 0;
}

.contactSection h3 {
  font-size: 36px;
  margin: 100px 0;
}

.contactContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  gap: 1px;
  margin: 44px auto;
  width: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.fa-solid {
  font-size: 32px;
  color: #c3c1c1;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid #ece8e8;
  line-height: 1.5;
  padding: 44px;
  font-size: 20px;
}

/* CTA Section */
.ctaSection {
  margin: 150px 0;
  text-align: center;
}

.ctaContainer {
  display: grid;
  gap: 44px;
  background-color: #af8f8f;
  padding: 32px 0;
}

.ctaContainer h3 {
  font-size: 44px;
  color: #fcfcfc;
}

.whatsappDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ece8e8;
  width: 18%;
  margin: 0 auto;
  padding: 14px;
  border: none;
}

.whatsappDetail a {
  text-decoration: none;
  font-size: 16px;
  color: #3e3d3d;
}

.whatsappDetail a:hover {
  color: #fff;
}

.ctaContainer span {
  color: #fcfafa;
  font-size: 16px;
}

.formContainer {
  display: grid;
  gap: 32px;
  width: 40%;
  margin: 0 auto;
}

.formContainer input {
  padding: 12px 0;
  border-radius: 5px;
  font-size: 20px;
  background: none;
  border: 2px solid #ece8e8;
  outline: white;
  color: #fcfcfc;
}

.formContainer input::placeholder,
.formContainer textarea::placeholder {
  padding: 0 18px;
  font-size: 16px;
  color: #ece8e8;
}

.formContainer textarea {
  padding: 40px 0;
  border-radius: 5px;
  background: none;
  border: 2px solid #ece8e8;
  outline: white;
}

.formBtn {
  width: 30%;
  margin: 0 auto;
  background: #ece8e8;
  color: #511818;
}

.socialMediaLinks {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  font-size: 24px;
  color: #504f4f;
}

.brands {
  border: 2px solid #511818;
  padding: 8px;
}

/* Footer FQA section */
.fqaSection {
  margin-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 32px;
}

.fqaSection > .ftSection {
  flex: 1;
}

.fqaContainer {
  margin: 40px 0;
}

.FAQ {
  padding: 14px;
  color: #232323;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.fqa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}

.fa-circle-plus {
  font-size: 20px;
  color: #121212;
}

.contactInfo {
  background-color: #af8f8f;
  padding: 20px;
  color: #e0e0e0;
}

.footerLogoText {
  display: flex;
  align-items: center;
  gap: 28px;
}

.footerHeaderText {
  display: grid;
  gap: 20px;
}

hr {
  margin: 30px 0;
}

.footerInfo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footerNavLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  list-style: none;
  font-size: 16px;
}
